| original value | normalized value | template found status |
| --- | --- | --- |
| SURGICAL_CONSENT | SURGERY_CONSENT | FOUND |
| BLOOD_TRANSFUSION | BLOOD_TRANSFUSION_CONSENT | FOUND |
| GENERAL_SURGERY | SURGERY_CONSENT | FOUND |
